<div>

    <div class="input-email" ng-mousedown="onMouseDown($event)">

        <span ng-repeat="email in emails">
            <span
                class="label-email"
                ng-attr-title="{{email.value}}"
                ng-dblclick="onEdit(email)"
                ng-if="!!!email.edit">
                <span>{{email.label}}</span>
                <a ng-click="onRemove($index)">x</a>
            </span>

            <form
                class="form-email"
                ng-submit="onSubmit(email)"
                ng-if="!!email.edit">
                <input
                    class="edit-email"
                    type="text"
                    ng-model="email.newValue"
                    ng-blur="onBlur(email)"
                    ng-keydown="onKeyDown($event, email)"
                    ng-keyup="onKeyUp($event, email)" />
            </form>
        </span>

    </div>

    <ul class="autocomplete-email" ng-show="open">
        <li ng-repeat="email in autocomplete">
            <a href="" ng-click="onAddEmail(email)">{{email.value}}</a>
        </li>
    </ul>

</div>
