<div class="container-email">

    <div class="input-email" ng-mousedown="onMouseDown($event)">

        <span ng-repeat="email in emails" class="email">
            <span
                class="label-email"
                ng-attr-title="{{email.value}}"
                ng-dblclick="onEdit(email)"
                ng-if="!!!email.edit">
                <span>{{email.label}}</span>
                <a ng-click="onRemove($index)">x</a>
            </span>

            <form
                class="form-email"
                ng-submit="onSubmit(email, true)"
                ng-if="!!email.edit">
                <input
                    class="edit-email"
                    type="text"
                    ng-model="params.newValue"
                    ng-blur="onBlur(email)"
                    ng-keydown="onKeyDown($event, email)"
                    ng-keyup="onKeyUp($event, email)"
                    ng-change="onChange()" />
            </form>
        </span>

    </div>

    <ul class="autocomplete-email" ng-if="params.autocompleteFiltered.length">
        <li ng-repeat="email in params.autocompleteFiltered">
            <a href="" ng-mousedown="onAddEmail(email)" ng-class="{'selected': $index === params.selected}">{{email.value}}</a>
        </li>
    </ul>
</div>
